@media screen and (min-width: 691px) {
    .menu-list-items {
        float: right;
    }
    
    .menu-link-names{
        font-size:19px;
    }
    .menu-link-names:hover {
        font-size: 20px;
    }
    .footers {
        font-size: 17px;
    }
    .footer-text a:hover {
        font-size: 18px;
    }
    .home-text {
        font-size: 30px;
    }
    .home-heading {
        font-size: 50px;
    }
    .feedback-text {
        font-size: 20px;
    }
    .contactus-heading {
        font-size: 40px;
    }
    .contact-form-text {
        padding: 15px 40px;
    }

}
@media screen and (min-width: 561px) and (max-width:690px) {
    .menu-list-items {
        float: right;
    }

    .menu-link-names {
        font-size: 13px;
    }
    .menu-link-names:hover {
        font-size: 14px;
    }
    .footers {
        font-size: 15px;
        
    }
    .footer-text a:hover{
        font-size:16px;
    }
    .home-text {
        font-size: 25px;
    }
    .home-heading {
        font-size: 40px;
        
    }

    .contactus-heading {
        font-size: 30px;
    }
    .contact-form-text {
        padding: 10px 30px;
    }
}

@media screen and (max-width: 560px) {
    .menu-list-items {
        float: right;
    }
    .menu-link-names {
        font-size: 7px;
    }
    .menu-link-names:hover {
        font-size: 8px;
    }
    .footers {
        font-size: 14px;
    }
    .footer-text a:hover{
        font-size:15px;
    }
    .home-text {
        font-size: 20px;
    }
    .home-heading {
        font-size: 25px;
    }
    .feedback-text {
        font-size: 15px;
    }
    .contactus-heading{
        font-size:30px;
    }
    .contact-form-text {
        padding: 10px 30px;
    }
}


/*Header and footer*/
.menu-image {
    float: right;
    cursor: pointer;
}

.menu-link-names {
    color: white;
    transition: font-size 1s;
    cursor:pointer;
}

.menu-link-names:hover {
    color: #ffc107;
    display: block;
}

.nav-link.active {
    color: #ffc107;
}

.navbar-brand {
    color: white;
}

.navigation {
    background-color: #030504;
    border-bottom: solid #282829;
}

.footers {
    background-color: #ff8f00;
    color: white;
    padding-top: 3vw;
    padding-left: 20px;
    padding-right: 20px;
}
.footers hr{
    width:75%;
    border-color:white;
    margin-left:0;
}
.footer-content-row{
    padding-bottom:7vw;
}
.footer-about-content{
    padding-right:15vw;
}

.footer-text{
    padding-bottom:3vw;
}

.footer-text a{
    color:white;
    cursor:pointer;
    transition:font-size 0.5s;
}

.footer-text a:hover{
    
    text-decoration:none;
    color:white;
}

.copyright-div{
    text-align:center;
}

/*Home*/

.home-container{    
    text-align: center;
    color: white;
    padding-top: 20vw;
    background-color: #030505;
    padding-bottom:20vw;

}

.home-heading{
    font-weight:700;
    padding-bottom:3vw;
}

.home-text{    
    font-weight:400;   
}

.typed-text {
    font-weight: normal;
    color: #ffc107;
}

.cursor{
    display:inline-block;
    width:0.1vw;
    background-color:white;
    margin-left:0.5vw;
    animation: blink 1s infinite;
    font-size:1.5rem;
}

@keyframes blink{
    0%{
        background-color:white;
    }
    50%{
        background-color:transparent;
    }
    100%{
        background-color:white;
    }
}

/*Contact and Feedback */
.contact-container {
    padding-top: 10vw;
    padding-bottom: 10vw;
    background-color: #030504;
    width:100%;
}

.contact-container p {
    text-align: center;
    padding-bottom: 2vw;
    color: white;
}

.form-container {
    text-align: center;
    width: 100%;
}

.inner-form-container {
    display: inline-block;
    width:50%;
    min-width:340px;
}

.form-row {
    padding-bottom: 2vw;  
}

.contact-form-text {
    width: 100%;
    display: block;
    box-sizing: border-box;
    border: 0;
    background: #222;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    outline: none;
    color: #ddd;
    transition: 0.3s;
}

.contact-form-text:focus {
    box-shadow: 0 0 2px 0.5px #ddd;
}

textarea.contact-form-text {
    resize: none;
}

.buttons {
    float: right;
}

.contact-form-btn {
    border: 0;
    background-color: #222;
    color: #ddd;
    padding: 8px 30px;
    border-radius: 30px;
    font-size: 20px;
    transition: 0.5s;
    overflow: hidden;
}

.contact-form-btn:hover {
    background-color: #ddd;
    color: #222;
    box-shadow: #222 2px 7px;
}

/*Feedback*/
#feedbacks .container-fluid {
    padding-top: 50px;
    padding-bottom: 15vw;
    background-color: #030504;
}

.feedback-title {
    margin-bottom: 5vw;
}

.feedback-text {
    margin: auto;
    width: 70%; 
}

.carousel-inner .carousel-item .img-box {
    width: 135px;
    height: 135px;
}

.carousel-indicators {
    top: 450px;
}
































/*Blogs Start*/

.mainimage-div {
    position:relative;
    background-color: white;
    height: 45vw;
    width: 100%;
    margin:0px;
    padding:0px;
}
    .mainimage-div img {
        background-color: white;
        width: 100%;
        height: 45vw;
    }

.blogsheading-div {
    position: absolute;
    top: 30%;
    left: 37%;
}
    .blogsheading-div h1 {
        font-size: 6vw;
        text-align: center;
        letter-spacing: 2vw;
        color: white;
        text-transform: none;
        opacity: 0.0;
        animation: fadeInDown ease 3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
        .blogsheading-div h1 span {
            color: #030504;
            text-transform: none;
            opacity: 0.0;
            animation: fadeInDown ease 3s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        }

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.scrolldownsection-class a {
    position: absolute;
    bottom: 20%;
    left: 51%;
    z-index: 2;
}
    .scrolldownsection-class a:hover {
        opacity: .5;
    }

#scrolldownsection-id a {
    padding-top: 60px;
}
    #scrolldownsection-id a span {
        position: absolute;
        width: 46px;
        height: 46px;
        margin-left: -23px;
        border: 1px solid #fff;
        border-radius: 100%;
        box-sizing: border-box;
    }
        #scrolldownsection-id a span::after {
            position: absolute;
            top: 50%;
            left: 50%;
            content: '';
            width: 16px;
            height: 16px;
            margin: -12px 0 0 -8px;
            border-left: 1px solid #fff;
            border-bottom: 1px solid #fff;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            box-sizing: border-box;
        }
        #scrolldownsection-id a span::before {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            content: '';
            width: 44px;
            height: 44px;
            box-shadow: 0 0 0 0 rgba(255,255,255,.1);
            border-radius: 100%;
            opacity: 0;
            -webkit-animation: sdb03 3s infinite;
            animation: sdb03 3s infinite;
            box-sizing: border-box;
        }

@-webkit-keyframes sdb03 {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        box-shadow: 0 0 0 60px rgba(255,255,255,.1);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes sdb03 {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        box-shadow: 0 0 0 60px rgba(255,255,255,.1);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.allblogstitle-div {
    background-color: #030504;
    height: 8vw;
    width: 100%;
    margin: 0vw;
}
    .allblogstitle-div h1 {
        color: white;
        font-size: 3vw;
        margin-top: 4vw;
        margin-left: 5vw;
        border-bottom: double;
        border-bottom-color: #f9aa33;
    }

.allblogs-div1 {
    background-color: #030504;
    width: 100%;
    padding-left: 4vw;
    padding-right: 4vw;
    margin: 0px;
}

.allblogs-div2 {
    background-color: #030504;
    padding-bottom: 20vw;
    width: 100%;
    padding-left: 4vw;
    padding-right: 4vw;
    margin: 0px;
}

.blog-div {
    padding-left: 0vw;
}
    .blog-div a {
        text-decoration: none;
    }

.thumbnail-div {
    background-color: white;
    box-shadow: 0px 15px 20px rgb(111, 91, 60);
    margin-left: 1vw;
    margin-top: 5vw;
}
    .thumbnail-div:hover {
        transform: scale(1.1);
        transition: all 1s ease;
    }

.blogimage-image {
    height: 100%;
    width: 100%;
}

.allcaptions-div {
    text-align: center;
    text-decoration: none
}

.textcaption-div {
    color: grey;
    background-color: white;
    border: none;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
}
    .textcaption-div:hover {
        text-decoration: none;
        color: black;
    }

.clickherebutton-div {
    color: white;
    background-color: #f9aa33;
    padding: 1vw 2vw;
    border: none;
    text-align: center;
    font-size: 90%;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5vw;
}
    .clickherebutton-div:hover {
        background-color: #FB5C02;
        text-decoration: none;
        text-align: center;
        color: white;
    }

/*Blogs End*/

